.about-container{
    display: flex;
    width:98%;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 24px;
}
.description{
    width:68%;

}
.right{
    width:30%;
}
img{
    height:48px;
    width: 48px;
    padding: 8px;
    filter:brightness(1);
}
img:hover{
    filter:brightness(0.7);
}

@media (max-width:600px)
{
    .about-container{
        flex-direction: column;
        width: 98%;
    }
    .description{
        width:100%;
    }
    .right{
        width:100%;
    }
}