*{
    padding: 0px;
    margin: 0px;
}
li{
    list-style: none;
    padding: 6px;
}
a{
    text-decoration: none;
}

.main-container{
    
    display:flex;
    width:98%;
    margin: 0 auto;
    justify-content: space-between;
}
.left{
    
    width:68%;
}
.right{
    position: sticky;
    top: 0;
    align-self: flex-start;
    width:28%;
}
#notes-here {
    white-space: pre-wrap;
}
table {
    border-collapse: collapse;
  }
  
td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
  }

img {
    width: auto ;
    max-width: 100% ;
    height: auto ;
  }

pre{
    padding: 6px;
    border-radius: 8px;
    background-color: #e0ffda;
    overflow-y: auto;
}


@media (max-width:600px){
    .main-container{
        flex-direction: column;
    }

    .left{
        width:100%;
    }
    .right{
        margin-top: 12px;
        width: 100%;
    }
}
