{% extends 'notes/navbar.html' %}
{% load static %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div class="home-main-section">
    <div class="img-section">
        <img src="{% static 'images/studyingpic.png' %}" alt="studying pic">
    </div>
    <div class="text-section">
        <h1>Welcome to Himalaya Notes!!</h1>
        <button class="to-notes">Take me to Notes</button>
    </div>
</div>
<br>
<div class="short-note">
    <h2>We aim to provide subject notes of all faculty and exam solutions as well.
        Bookmark this page and get benefited with our regular uploads of various
        notes and solutions. 
    </h2>
    <br>
    <h3>If you have notes that you wanna get published,<a href="{% url 'about' %}">contact us here</a></h3>
</div>

<script src="{% static 'js/home.js' %}"></script>

{% endblock %}